{% extends 'portal/main.html' %}

{% load static %}
{% load crispy_forms_tags %} 

{% block content %}

{% include 'portal/navbar.html' %}



<!-- the landingpage ________________________________________________starts here__________________________ -->
<div id="landrbg">

  <div class="container">
    <div class="row landdiv d-flex align-items-end">

      <div class="col-sm-12 col-md-3 col-lg-3 ">

        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          if the printing and typesetting industry. 
          </h4>
          <a href="{% url 'jobdetails' %}" class="btn btn-primary">Find Jobs </a>

      </div>

      <div class="col-sm-12 col-md-9 col-lg-9">


      </div>
      

    </div>

  </div>
</div>

<!-- the landingpage ________________________________________________ ends here__________________________ -->

{% comment %} {{ perms.portal }} {% endcomment %}

{% if 'auth.admin' in perms %}
<div class="row jobcol card">
  <div class="container">
        <div id="joblist" class="col-sm-12 col-md-12 col-lg-12">
              <div class="card-body">
              <h4 class="">Search</h4>
                <form method="get">
                  <div class="row">
                    <div class="col-md-3 form-group forfield">
                        <div class="input-group mb-3">
                          <input type="text" name="job_title" placeholder="Job Profile..." class="form-control searchsty">
                        </div>
                    </div>
                    <div class="col-md-3 form-group forfield">
                        <div class="input-group mb-3">
                          <input type="text" name="skills" placeholder="Skills..." class="form-control searchsty">
                        </div>
                    </div>
                    <div class="col-md-3 form-group forfield">
                        <div class="input-group mb-3">
                          <input type="text" name="job_location" placeholder="Location..." class="form-control searchsty">
                        </div>
                    </div>
                    <div class="col-md-3 form-group forfield">
                      <button class="btn btn-default searchbtn searchsty" type="submit">Search</button>
                    </div>
                    </div>
                </form>

                </div>
            </div>
        </div>
  </div>


<div class="container">

    <h4>Latest Jobs</h4>
    <div class="row">
  
      {%  for job in jobs %}  
  
      <div id="joblist" class="col-sm-12 col-md-6 col-lg-6">
        <div class="card jobcoldiv">
          <div class="card-body">
         
            <h6 class="card-title">{{job.job_title}}</h6>
              <span>
                <img class="img-fluid jobicons" src="{% static 'img/wallet.svg' %}" alt=""  title="wallet"> 
                {{job.experience}}
              </span>
              <span>
                <img class="img-fluid jobicons" src="{% static 'img/geo.svg' %}" alt="" title="Bootstrap"> 
                {{job.job_location}}
              </span>
              <p>
                <img class="img-fluid jobicons" src="{% static 'img/laptop.svg' %}" alt="" title="geo"> 
                {{job.job_description}}
              </p>
              <span class="">
                <img class="img-fluid jobicons" src="{% static 'img/tag.svg' %}" alt="" title="tag"> 
                {{job.salary}}
              </span>
              <span class="toright">
                <img class="img-fluid jobicons" src="{% static 'img/Clock.svg' %}" alt="" title="Clock"> 
                {{job.salary}}
              </span>
  
               <span class="toright">{{job.id}}</span>
  
              <a href="{% url 'joblist' job.id %}"> view </a>
          </div>
        </div>
       
      </div>
  
      {% endfor %}

    </div>
  </div>

{% elif 'auth.employer' in perms %}

emplyer

{% comment %} clrck {% endcomment %}

{% endif %}



<div class="row space"></div>

{% endblock %}